/* color palette */
:root {
  --white: #ffffff;
  --black: #000000;
  --purple: #6357b1;
  --grey-light: #f6f6f6;
}

:root {
  --color-background: var(--grey-light);
}

body {
  background-color: #f6f6f6;
}
