/* color palette */
:root {
  --white: #ffffff;
  --black: #000000;
  --purple-light: #dcd9f5;
  --purple: #a098d3;
  --purple-dark: #6357b1;
  --gray-light: #f6f6f6;
}

:root {
  --color-background: var(--gray-light);
}

body {
  background-color: #f6f6f6;
}
